@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Raleway);

}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
body {
  background: url('./pics/markusSpiske.jpg')no-repeat;
  background-size: cover;
  font-family: 'Zilla Slab', sans-serif;
  text-align: center;
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
h5, p {
  color: white;
}
.welcomeText,
.form,
.social {
  width: 100%;

}


/*welcome text*/
.welcome {
  margin-top: 200px;


}
.greet {
  font-size: 60px;
  color: white;
}

.pizzaImg, .lifeImg {
  max-width: 100%; 
  height: auto;
  
}

/*taglines*/
.subText {
  color: #CBEDB1;
}
.subText p {
  height: 100%;
  line-height: 100px;
  text-align: center;
}
.portText {
  text-align:center
}
.subTexts {
  font-size: 40px;
}

/*footer- follow*/
.follow {

}
.accord {
  border: none;
  color: #CBEDB1;
  font: Zilla-Slab;
}
.followUs {

  font-size: 20px;
  color: white;
}
.socialIcons {
  font-size: 40px;
  color: #CBEDB1;
  margin-right: 20px;

}
.material-icons {
  color: #CBEDB1;
  font-size:30px;
}

#myFooter {
  background-color: transparent;
}


.socialIcon {

  cursor: pointer;
  color: white;
  text-align: center;
  margin: 12px;
}
.foot {
  color:#CBEDB1;
}

a:link {
  color: black;
}
a:visited {
  color: #556B2F;
}
a:active {
  color: #99ff00;
}
.socialIcon:hover {
  color: #CBEDB1;
  transition-duration: 1s;
  ;
  text-shadow: 0 0 20px white;
}

}
@media screen and (max-width:930px) {
  .subTexts p {
    font-size: 20px
  }

  .button {
    font-size: 12px
  }
}
@media screen and (max-width:600px) {
  .welcome,
  .subText,
  .sub {
    background: rgba(255, 255, 255, .3);
  }

  .welcome {
    border-radius: 20px 20px 0 0;
  }

  .subText {
    border-radius: 0 0 20px 20px;
  }

  .sub {
    border: 1px solid;
  }

  .greet {
    font-size: 30px
  }

  .subTexts p {
    font-size: 16px;
  }

  .button {
    font-size: 8px;
    margin-right: -3%
  }
